<!Doctype html>
<html>
  <head>
    <title>Powerpuff Pals</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="indexstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <section class="container">
      <section class="jumbotron text-center">
        <h1>Powerpuff Pals</h1>
        <img src="img/bc4.jpeg" alt="Buttercup smiling excitedly">
        <p>Sugar, spice, and everything nice these were the ingredients chosen to create the perfect little girls but Professor Utonium accidentally added an extra ingredient to the concotion -- Chemical X.</p>
        <a href="/login" class="btn btn-default"><i class="fas fa-sign-in-alt"></i> Login</a>
        <a href="/signup" class="btn btn-default"><i class="fas fa-plus"></i> Signup</a>
      </section>
    </section>
  </body>
</html>
