body{
  padding-top:80px;
  word-wrap:break-word;
  color: green;
}
img{
  height: 200px;
}
main, header{
  text-align: center;
}
.messages{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 230px;
}
.well{
  overflow: hidden;
  height:230px;
}
#username{
  font-weight: bold;
}
ul{
  list-style: none;
}
